body {
    background: #3d4869;
    background: -moz-linear-gradient(#3d4869, #263048) fixed;
    background: -webkit-linear-gradient(#3d4869,#263048) fixed; 
    background: linear-gradient(#3d4869,#263048) fixed; 
    font-family: 'Vast Shadow', cursive;
    color: #ffffff;
  }
  
  #app {
    width: 980px;
    background-image: linear-gradient( 110.9deg,  rgba(44,221,239,1) 1.1%, rgba(14,191,210,1) 37.6%, rgba(8,127,140,1) 99.2% );
  }
  
  @media (max-width: 992px) {
    #app {
      width: 100%;
    }
  }

  .app__container {
    display: flex;
    flex-direction: column;
    border: 5px inset #d6e1e3;
    padding: 1rem;
  }

  .location {
    font-weight: normal;
  }

  .weather {
    display: flex;
    margin-bottom: 2rem;
  }

  .weather__container-left {
    display: flex;
    flex-direction: column;
  }
  .weather__container-right {
    display: flex;
    flex-direction: column;
  }

  .overcast {
    font-weight: bold;
  }
  
  .temperature {
    font-size: 40px;
  }
  
  .temperature__value {
    
  }
  
  .info {
    display: flex;
    flex-wrap: wrap;
  }

  .info__container {
    display: flex;
    margin-right: 1rem;
  }

  .info__value {
    align-self: center;
    margin: 0 0 0 1rem;
  }
  
  .icon {
    width: 5rem;
    height: 5rem;
  }

  @media (max-width: 992px) {
    .icon {
      width: 4rem;
      height: 4rem;
    }
  }
