body {
  display: flex;
  justify-content: center;
  place-items: center;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  position: relative;
}

@keyframes appearance {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#modal {
  padding: 1rem;
  color: rgb(212, 48, 48);
  position: absolute;
  max-width: 320px;
  background-color: aliceblue;
  border: 1px solid rgb(161, 151, 151);
  border-radius: 10px;
  z-index: 10;
  top: 0;
}

#app {
  width: 435px;
  border-radius: 10px;
  box-shadow: 40px 30px 36px -23px rgba(0, 0, 0, 0.75), inset -3px -6px 25px rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

#app::before {
  background-image: url(images/weather-app-icon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  opacity: 0.5;
}

@media (max-width: 992px) {
  #app {
    animation: appearance 2s linear 1s;
    width: 100%;
  }
}

.app__container {
  display: none;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 1px -3px 25px -5px inset rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.header {
  display: flex;
}

.header__location {
  margin-right: 1rem;
  margin-bottom: 0;
}

.locationError {
  color: #d13131;
  font-weight: bold;
  padding: 0.5rem 0;
}

.form__city {
  border: 0;
  padding: 0.5rem;
  border-radius: 10px;
  transition: 0.2s;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid lightslategray;
}

.form__city:focus {
  outline: transparent;
  border: 1px solid lightgoldenrodyellow;
}

.input-ok {
  box-shadow: 1px 1px 7px 2px inset rgb(152, 233, 152);
}

.input-error {
  box-shadow: 1px 1px 7px 2px inset #fbb0b0;
}

.form__btn {
  border: 1px solid azure;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: azure;
  outline: none;
  transition: 0.2s;
  font-family: inherit;
  font-size: 1rem;
}

.form__btn:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.form__btn:active {
  background-color: blanchedalmond;
  box-shadow: 1px 1px 7px 2px inset darkgoldenrod;
}

.weather {
  display: flex;
  margin-bottom: 2rem;
}

.weather__container {
  display: flex;
  flex-direction: column;
}

.temperature-range {
  display: flex;
  flex-direction: column;
}

.weather-overcast {
  display: flex;
}

.weather-overcast__descr {
  align-self: center;
  font-weight: bold;
}

.weather-overcast__image {
  align-self: center;
}

.temperature-range__min {
  color: rgb(58, 58, 228);
  font-weight: bold;
}

.temperature-range__max {
  color: rgb(183, 44, 13);
  font-weight: bold;
}

.temperature {
  color: #000;
  font-size: 3rem;
}

.weather-info {
  display: flex;
  flex-wrap: wrap;
  color: #000;
  font-weight: bold;
}

.weather-info__container {
  display: flex;
  margin: 0 1rem 1rem 0;
}

.weather-info__descr {
  align-self: center;
  margin: 0 0 0 1rem;
}

.weather-info__icon {
  width: 5rem;
  height: 5rem;
}

.hidden {
  display: none;
}
